<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/simple-searchbox.css" rel="stylesheet">
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<div>
            <a href="">
                <img src="http://how2j.cn/tmall/img/site/simpleLogo.png" id="simpleLogo">
            </a>
        </div>
        <div class="simpleSearchDiv pull-right">
            <input type="text" placeholder="平衡车 原汁机">
            <button>搜索</button>
            <div class="searchBelow">
                <span><a href="">空调</a><span>|</span></span>
                <span><a href="">女装</a><span>|</span></span>
                <span><a href="">男表</a><span>|</span></span>
                <span><a href="">榨汁机</a></span>
            </div>
        </div>
	</div>
</body>
</html>

