<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/rating.css" rel="stylesheet">
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="product-container">
    <div class="product-detail">
        <nav>
            <a href="">商品详情</a>
            <a href="" class="active">累积评价<span> 19</span></a>
        </nav>
        <div>
            <div class="product-comment">
                <p>不错的购物，包装很精细，布料也不错舒服，因为之前一直购买品牌装，很好的一次网购，
                    生完宝宝刚刚一个多月我一百五十斤穿2XL不错</p>
                <div class="product-buyer">哀****莉 <span>（匿名）</span></div>
                <div class="comment-date">2016-08-10</div>
            </div>
            <div  class="product-comment">
                <p>不错的购物，包装很精细，布料也不错舒服，因为之前一直购买品牌装，很好的一次网购，
                    生完宝宝刚刚一个多月我一百五十斤穿2XL不错</p>
                <div class="product-buyer">哀****莉 <span>（匿名）</span></div>
                <div class="comment-date">2016-08-10</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

