<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/detail.css" rel="stylesheet">
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="product-container">
    <div class="product-detail">
        <nav>
            <a href="" class="active">商品详情</a>
            <a href="">累积评价<span>19</span></a>
        </nav>
        <div class="product-parameter clea">
            <div>产品参数：</div>
            <ol>
                <li>材质成分: 聚酯纤维100%</li>
                <li>尺码: L M S XL X</li>
                <li>适用年龄: 18-25周岁</li>
            </ol>
            <ol>
                <li>品牌: Emyche/艾米秋</li>
                <li>上市年份季节: 2016年夏季</li>
            </ol>
            <ol>
                <li>货号: 129668</li>
                <li>颜色分类: 白色 黑色 浅蓝</li>
            </ol>
        </div>
        <div class="product-img">
            <img src="http://how2j.cn/tmall/img/productDetail/8626.jpg">
        </div>
    </div>
</div>

</body>
</html>

