<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/basic-info.css" rel="stylesheet">
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="productContainer">
    <div class="productInfo">
        <div class="productThumbnail">
            <img width="100px" src="http://how2j.cn/tmall/img/productSingle/8619.jpg">
        </div>
        <div class="productBasicInfo">
            <h4>
                名媛2016新款女装夏两件套裤韩版雪纺七分裤阔腿裤休闲时尚套装女
            </h4>
            <p>
                高端定制 高档棉麻 现货即发 加购物车 领优惠卷
            </p>
            <div class="productPrice">
                <p>
                    <span class="juhuansuan">聚划算</span>
                    <span>此商品即将参加聚划算，<span class="juhuasuanTime">1天19小时</span>后开始，</span>
                </p>
                <div class="productPriceDiv">
                    <div class="gouwujuanDiv"><img height="16px" src="http://how2j.cn/tmall/img/site/gouwujuan.png">
                        <span> 全天猫实物商品通用</span>
                    </div>
                    <div class="originalDiv">
                        <span class="originalPriceDesc">价格</span>
                        <span class="originalPriceYuan">¥</span>
                        <span class="originalPrice">
                        399.00
                    </span>
                    </div>
                    <div class="promotionDiv">
                        <span class="promotionPriceDesc">促销价 </span>
                        <span class="promotionPriceYuan">¥</span>
                        <span class="promotionPrice">
                        379.05
                    </span>
                    </div>
                </div>
            </div>
            <div class="productSaleAndReviewNumber">
                <div>销量 <span class="redColor boldWord"> 50</span></div>
                <div>累计评价 <span class="redColor boldWord"> 19</span></div>
            </div>
            <div class="productNumber">
                <label for="productNum">数量</label>
                <span>
                <span>
                <input type="text" value="1" id="productNum">
                </span>
                <span class="arrow">
                    <a class="increaseNumber" href="#nowhere">
                    <span class="updown">
                       <img src="http://how2j.cn/tmall/img/site/increase.png">
                    </span>
                    </a>
                    <span class="updownMiddle"> </span>
                    <a href="#nowhere">
                    <span class="updown">
                        <img src="http://how2j.cn/tmall/img/site/decrease.png">
                    </span>
                    </a>
                </span>
            </span>
                <span>库存66件</span>
            </div>
            <div class="serviceCommitment">
                <span>服务承诺</span>
                <span>
                <a href="#nowhere">正品保证</a>
                <a href="#nowhere">极速退款</a>
                <a href="#nowhere">赠运费险</a>
                <a href="#nowhere">七天无理由退换</a>
            </span>
            </div>
            <div class="buyDiv">
                <a href="#nowhere"><button class="buyButton">立即购买</button></a>
                <a href="#nowhere"><button class="addCartButton"><span class="glyphicon glyphicon-shopping-cart"></span>加入购物车</button></a>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

</body>
</html>

