<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/thumbnail.css" rel="stylesheet">
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="product-thumbnail">
        <div class="product-img">
            <img  width="100px" class="bigImg" src="http://how2j.cn/tmall/img/productSingle/8619.jpg">        </div>
        <div class="product-indicator">
            <img  width="56px" class="smallImage" src="http://how2j.cn/tmall/img/productSingle_small/8620.jpg">
            <img  width="56px" class="smallImage" src="http://how2j.cn/tmall/img/productSingle_small/8619.jpg">
            <img  width="56px" class="smallImage" src="http://how2j.cn/tmall/img/productSingle_small/8618.jpg">
            <img  width="56px" class="smallImage" src="http://how2j.cn/tmall/img/productSingle_small/8617.jpg">
            <img  width="56px" class="smallImage" src="http://how2j.cn/tmall/img/productSingle_small/8616.jpg">
        </div>
    </div>
</body>
</html>

