<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/filter.css" rel="stylesheet">
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="category-container">
    <img src="http://how2j.cn/tmall/img/category/72.jpg">
    <div class="category-sort-bar">
        <table class="filter-bar">
            <tr>
                <td  class="filter-selection">
                    <a href="">综合<span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="">人气<span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="">新品<span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="">销量<span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="">价格<span class="glyphicon glyphicon-arrow-down"></span></a>
                </td>
                <td class="filter-input">
                    <input type="text" placeholder="请输入">
                    -
                    <input type="text" placeholder="请输入">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>

