<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/searchbox.css" rel="stylesheet">
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div>
		<a href="">
			<img id="logo" src="http://how2j.cn/tmall/img/site/logo.gif">
		</a>
		<div class="searchDiv">
			<input type="text" name="" placeholder="时尚男鞋  太阳镜 ">
			<button>搜索</button>
			<div class="searchBelow">
				<span><a href="">平衡车</a><span>|</span></span>
				<span><a href="">扫地机器人</a><span>|</span></span>
				<span><a href="">男装</a><span>|</span></span>
				<span><a href="">榨汁机</a></span>
			</div>
		</div>
	</div>
	
</body>
</html>
	